coverage
Flask==2.3.3
Flask-SQLAlchemy==3.0.3
psycopg2-binary
itsdangerous
gunicorn
flask-bcrypt
flask-cors
flask-marshmallow
flask-migrate
restx-monkey
flask-restx
Flask-Testing
marshmallow-sqlalchemy==0.24.0
pyjwt
requests
SQLAlchemy-Utils
docker-compose
jedi
yapf
pylint
pylama
pip-review